.filters {
	margin-top: 30px;
	width: 200px;
	height: 100px;
	transition: .5s;
}

.filters h1 {
	margin: 0 0 15px;
}
.filters h2 {
	margin: 0;
}

.filters .category,
.filters .selected {
	font-weight: 500;
	font-size: 14px;
	font-weight: 600;
	margin: 10px 0;
	transition: 200ms;
	cursor: pointer;
}
.filters .category:hover,
.filters .selected:hover {
	scale: 1.05;
}

.filters .selected {
	color: black;
}

.filters .category {
	color: rgb(100, 100, 100);
}

.clear-filters {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.clear-filters:hover {
  background-color: #eaeaea;
}

