.product-review {
	width: 70%;
	max-width: 850px;
	min-width: 700px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.product-review .info {
	width: 50%;
}
.product-review img {
	width: 300px;
	height: 300px;
}
.product-review .name {
	margin: 30px 0 5px;
}
.details {
	margin-top: 10px;
}
.product-review .price {
	margin: 10px 0;
	color: red;
}

.quantity {
	display: flex;
	gap: 20px;
	align-items: center;
}
.quantity > h3 {
	margin: 0;
}
.quantity-content {
	display: flex;
	border: 1px solid gray;
}
.quantity-content .minus,
.plus,
.num {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quantity-content .plus {
	color: rgb(49, 168, 49);
}
.quantity-content .minus {
	color: #f02d34;
}
.quantity-content .num {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	font-size: 18px;
}

.product-review .rating {
	display: flex;
	align-items: center;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.toCart, .buy {
	font-size: 20px;
	padding: 8px 35px;
	cursor: pointer;
}

.toCart {
	border: 1px solid red;
	background: transparent;
	color: red;
	margin-left: 10px;
}

.buy {
	background: red;
	color: white;
	border: none;
	margin-right: 10px;
}