.cart {
	width: 50%;
	margin: 0 auto;
}

.cart hr {
	min-width: 500px;
}

.left-info {
	width: 500px;
}

.cart-item {
	display: flex;
	align-items: center;
	width: 70%;
	min-width: 500px;
	margin: 10px auto;
}

.cart-item .image-container {
	margin: 0 25px 0 0;
}

.cart-item h2 {
	margin: 0 0 10px 0;
	font-size: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cart-item .price {
	display: inline;
	margin-left: 10px;
}

.remove-item {
	background: #ff0000;
	color: white;
	border: none;
	padding: 5px 20px;
	margin-left: 10px;
	border-radius: 5px;
}

.cart-info {
	width: 400px;
	text-align: center;
	margin: 20px auto;
}

.total {
	font-weight: 700;
	color: #303030;
	width: fit-content;
	margin: 0 20px 0 auto;
}
