.cart {
	width: 50%;
	margin: 0 auto;
}

.cart hr {
	min-width: 450px;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	min-width: 450px;
	margin: auto;
}

.cart-item h2 {
	margin: 0 0 10px 0;
}

.cart-item img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}

.cart-item .price {
	display: inline;
	margin-left: 10px;
}

.remove-item {
    background: #ff0000;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.cart-info {
	width: 400px;
    text-align: center;
	margin: 20px auto;
}

.total {
	font-weight: 700;
	color: #303030;
	width: fit-content;
	margin: 0 20px 0 auto;
}