nav {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

nav h2 {
	color: rgb(50, 50, 50);
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 20%;
	min-width: 220px;
	font-size: 20px;
}

.navigation > * {
	transition: 200ms;
	color: rgb(120, 120, 120);
	font-weight: 400;
}

.cart-icon {
	position: relative;
}

.cart-icon img {
	width: 35px;
	height: 35px;
}

.cart-size {
	background-color: red;
	border-radius: 50%;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	color: white;
	font-weight: 600;
	position: absolute;
	top: -5px;
	right: -10px;
}

.cart-size > span {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 2px;
}
