.about {
	background-color: #f5f5f5;
	color: #333;
	padding: 0 50px 30px;
	margin: 40px auto 0;
	width: 70%;
	box-shadow: 4px 4px 4px #cecece7c;
	border-radius: 10px;
}

.about h1 {
	font-size: 2rem;
	margin-top: 0;
    text-align: center;
}

.about p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
}
