.products {
	width: 80%;
	margin: auto;
}

.product {
	width: 200px;
	height: 210px;
	display: inline-block;
	margin: 20px;
	transition: 200ms;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info > * {
	margin: 0;
}

.product img {
	width: 200px;
	height: 200px;
}

.product:hover {
	scale: 1.05;
}
