.products-container {
	margin: auto;
	overflow: hidden;
	display: flex;
	max-width: 85%;
}

.filters {
	margin: 30px auto 0;
	transition: 0.7s;
	width: 170px;
	height: 100px;
}
.filters .name {
	margin: 0;
}

.filters .category {
	font-weight: 500;
	font-size: 14px;
	margin: 10px 0;
	transition: 200ms;
	cursor: pointer;
}

.filters .category:hover {
	scale: 1.05;
}

.filters-icon {
	margin: 37px 10px;
	height: 30px;
	width: 30px;
}
.products {
	text-align: center;
	width: fit-content;
	transition: 0.7s;
}

.product {
	width: 200px;
	height: 230px;
	display: inline-block;
	margin: 20px;
	transition: 200ms;
	color: black;
	text-decoration: none;
}

.product .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info > * {
	margin: 0;
}

.product img {
	background: #00000037;
	border-radius: 30px;
	width: 200px;
	height: 200px;
}

.product-name {
	font-weight: 600;
	margin: 0 10px;
}

.product-price {
	font-weight: 700;
	font-size: 20px;
	margin: 0 10px;
}

.product:hover {
	scale: 1.05;
}
